/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700,900);



#mob_nav{
	display: none
}


html { height: 100%; font-size: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    background: #f9f9f9;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.main,
.container > header {
	width: 90%;
	max-width: 76em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header {
	padding: 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 65%;
	font-weight: 300;
}

/* Header Style */
.codrops-top {
	line-height: 2.5;
	font-size: 0.688em;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 0.625em;
}

.codrops-demos a {
    display: inline-block;
    margin: 0.625em;
    color: #666;
    font-weight: 700;
    font-size: 90%;
    line-height: 2;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.support-note {
	clear: both;
}

.support-note span{
	color: #ac375d;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 0.313em 0;
}
/* SITEMAP */
.site_map{
	width: 100%;
	height:100%;
	position: relative;
}
.site_map div{
   width: 100%;
   height: 100%;
}

.site_map .quick_contact h2{
	font-family: "Open Sans"!important;
	font-weight: 400;
}
.site_map img{
	width: 100%;
}
.lists_links{
	width: 80%!important;
	margin: auto;
}
.site_map .fa{
	      width: 100%;
    padding: 10px;
    border: 1px solid;
}

.site_map .quick_contact li:hover .fa{
	color: white;
}

.site_map .quick_contact li:hover {
	background-color: #003185;
}
.site_map .quick_contact li{
       display: inline-block;
    width: 13%;
    height: 100%;
    text-align: center;
}
.site_map .quick_contact ul{
	padding: 21px 0px;
}
.site_map div section{
	width: 30%;
	display: inline-block;
	font-family: "Open Sans";
}

.page_links ul {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 5px 0px;
}
.page_links ul li{
    width: 15%;
    color: white;
    font-size: 15px;
    display: inline-block;
    position: relative;
}
.site_map li{
	list-style: none;
}
@media only screen and (max-width: 600px) {
	.cover-image-container {
     margin-top: 0px!important; 
     }
	.site_map .page_links{
		display: none!important;
	}
	footer{
	  display: none!important
	}
	#mob_nav{
		display: block;
	}
	.desk{
		display: none!important
	}
	.page_links ul li {
	    width: 100%;
	}
	.site_map div section {
	    width: 100%;
	    text-align: center;
	}
}

.all_page_links{
	overflow: hidden;
    position: relative;
    z-index: 10000;
    top: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid grey;
    padding: 0px;
}
.all_page_links ul{
	 display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%
}
.all_page_links ul li a{
	color: black!important
}
.all_page_links ul li {
    height: 40px;
    width: 10%;
    vertical-align: middle;
    margin: auto;
    color: black;
    font-weight: 400;
    display: inline-flex;
    font-size: 12px;
    position: relative;
}
.all_page_links a {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";

}
.all_page_links img{
   vertical-align: sub;
}
.desk{
	background-color: #fafafa!important;
}
.desk button{
	font: -webkit-control!important;
      background-color: white;
}

.page_links button a{
  border: none!important
}

/**MOBILE NAVIGATION***/


#mob_nav {
background-color: #fafafa;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0px;
    z-index: 1000000;
}

.eventpage #mob_nav{
    right: 0px;
    top: 0px;
    z-index: 1000!important
}
.eventpage #menu-toggle{
    background: rgba(255,255,255,1);
}

.eventpage .sponsor_img li{
  width: 10%;
  padding: 0px 14px;
}
.eventpage .sponsor_img{
   background-color: #fafafa!important;
}
.eventpage .sponsor_img span{
      position: absolute;
      color: black;
    left: 40px;
    top: -6px;
    font-weight: 500;
}

.workshop_nav .page_links span{
	    top: -21px !important;
}
.workshop_nav  .scrollble-tabs-container{
	top: 12%;
}

.eventpage .sponsor_img p{
  margin-left: 12px!important;
  display: -webkit-inline-box;
  color: black;
  margin: auto;
}

.logo {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  padding: 0 0 0 20px;
  text-transform: capitalize;
}
/* menu button */
.menuBtn {
      height: 30px;
    border: 1px;
    width: 30px;
    position: fixed;
    z-index: 123;
    left: 10px;
    top: 10px;
}

.eventpage .navbar .page_links button a {
    border: 1px solid #000000;
    padding: 6px;
    color: black;
    font-family: "Montserrat";
    background-color: white;
    font-size: 12px;
}

.eventpage .menuBtn{
    left: inherit;
    	right: 10px;
}

.menuBtn > span {
  background-color: #4183c4;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  -webkit-transition: height 100ms;
  transition: height 100ms;
}
.menuBtn > span:after,
.menuBtn > span:before {
  content: '';
  background-color: #4183c4;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -7px;
}
.menuBtn > span:before {
  bottom: -7px;
}
.menuBtn.act > span {
  height: 0;
}
.menuBtn.act > span:after,
.menuBtn.act > span:before {
  background-color: #008877;
  top: 1px;
}
.menuBtn.act > span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menuBtn.act > span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* main menu block */
.mainMenu {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.mainMenu.act {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mainMenu.act ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mainMenu ul {
  display: table-cell;
  vertical-align: middle;
}
.mainMenu li {
	list-style: none;
  padding: 8px 0;
  -webkit-transition: all 400ms 510ms;
  transition: all 400ms 510ms;
  opacity: 0;
}
.mainMenu li:nth-child(odd) {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.mainMenu li:nth-child(even) {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.mainMenu li:last-child {
  -webkit-transform: none;
          transform: none;
}
.mainMenu a {
    color: #000000;  display: inline-block;
    font-family: "Open Sans";
  font-size: 18px;
}
.mainMenu a.suBtn {
  color: #fff;
}
/* sign up button */
.suBtn {
  background-color: #19b698;
  border-radius: 5px;
  padding: 10px 20px;
}

/*.sponsor_img li:not(.typo){
  padding: 0px 20px!important;
}*/
.eventpage .sponsor_img li.typo{
  padding: 0px 0px!important;
}

 .sponsor_img li.juniper{
  padding: 0px 5px!important;
}

.navbar {
  box-shadow: none!important;
  border-bottom: none!important
}

@media only screen and (min-width: 700px) and (max-width: 1300px){
  .eventpage .navbar .page_links button a{
    font-size: 8px !important;
  }
  .navbar .page_links ul li{
    font-size: 9px!important;
  }
  .scrollble-tabs-container {
    top: 48px!important;
  }
}
a:hover{
     color: #0070c2 !important;
    cursor: pointer;
}